flask==2.3.3
apscheduler==3.10.1
schedule==1.2.1
instagrapi==1.18.4
requests==2.26.0
pillow==10.2.0
beautifulsoup4==4.9.3
python-dotenv==0.19.2
gunicorn==21.2.0
urllib3==1.26.15
charset-normalizer==2.0.12
certifi==2023.7.22
feedparser==6.0.11
bs4==0.0.2
pymongo==3.12.3
dnspython==1.16.0
idna==2.10
pydantic==1.10.9
pycryptodomex==3.18.0
PySocks==1.7.1
tzlocal==5.0.1
six==1.16.0
pytz==2023.3
